<!DOCTYPE html>
{% extends 'main/template.html' %}



{% block title %}
    Forgot password            
{% endblock %}





{% block content %}

    <div class="columns">
        <div class="column is-full" align= 'middle'>
            <form method="post">
                {% csrf_token %}
                <br>
                <input type='email' name='email' placeholder='Type your email here.'><br>
                <input type='Submit' value='Submit'>
            </form>
            <a href={% url 'login' %}>Go back</a>
            
            <div>
                {% for message in messages %}
                <h3> {{message}} </h3>
                {% endfor %}
            </div>
            
        </div>
    </div>
    

{% endblock %}
