<!-- 
<!DOCTYPE html>
{% extends 'entries/template.html' %}

{% block content %}

<br>
<section class="hero is-black">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Log In
      </h1>
    </div>
  </div>
</section>
<br>


<form method="post" class="form-group">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-danger">Login</button>
    <p>Don't have an accout? Crete one <a href='/register'>here</a>.</p>
</form>


{% endblock %}
 -->