<!DOCTYPE html>
{% extends 'main/template.html' %}



{% block title %}
    About            
{% endblock %}





{% block content %}

<div class="columns">
  <div class="column column is-8 is-offset-2" align= 'middle'>
    <br>
<!-- 	    <p> Contemplation is the art of holding something (a question, an idea...)
	     in your awareness and letting it reveal the reality it is 
	    pointing to. </p>
	    <br> -->
	    <p> Here are a few takes on contemplation to inspire: </p>
	<br>
	<div class="box">
	    <center><i> "Contemplation is the art of holding a word or a phrase 
	    patiently in the silence and stillness of awareness until it begins to 
	    disclose deeper and deeper meanings and understandings. Contemplation has 
	    the power to transcend beyond (not regress back from) the limits of 
	    analytical thought and logic, and open consciousness up to an order of wisdom 
	    and Truth that can only be described as revelation...<br>
	    Take a short phrase as your object of contemplation and simply hold it in 
	    your awareness for some time. Do not analyze or philosophize about it. And 
	    do not get lost in your imagination either. Just hold the phrase in 
	    awareness. Then be still. Let its meaning germinate within you. Then bring 
	    the word or phrase back into awareness again. Hold it there for some time, 
	    and then let it go and be still again. With a little practice you will get 
	    the hang of it and find your own rhythm."
	    <br><br> &nbsp;&nbsp;&nbsp;&nbsp; ~ Adyashanti, The Way of Liberation </i></center>
	</div>
	<div class="box">
        <center><i> "The word itself is the bridge. Remember it, think of it, 
        explore it, go round it, look at it from all directions, dive into it 
        with earnest perseverance: endure all delays and disappointments till 
        suddenly the mind turns round, away from the word, towards the reality 
        beyond the word. It is like trying to find a person knowing his name only.
         A day comes when your enquiries bring you to him and the name becomes 
         reality. Words are valuable, for between the word and its meaning there 
         is a link and if one investigates the word assiduously, one crosses beyond 
         the concept into the experience at the root of it. As a matter of fact, 
         such repeated attempts to go beyond the words is called meditation. 
         Sadhana is but a persistent attempt to cross over from the verbal to the 
         non-verbal. The task seems hopeless until suddenly all becomes clear and 
         simple and so wonderfully easy. But, as long as you are interested in 
         your present way of living, you will shirk from the final leap into the unknown."
        <br><br> &nbsp;&nbsp;&nbsp;&nbsp; ~ Nisargadatta Maharaj, I AM THAT </i></center>
    </div>
    <div class="box">
        <center><i> "Contemplation is a deep and focused questioning, and an essential 
        tool for increasing consciousness. Contemplation is creating the possibility 
        that something can be known outside of what is already known or knowable... <br>
        Contemplation begins at the limit of observations. We use it to push out 
        past what we can readily or immediately observe and into the unconscious
        regions of our minds...<br> ...if you are in any way attempting to be 
        conscious of the true nature of something, you are contemplating."
        <br><br> &nbsp;&nbsp;&nbsp;&nbsp; ~ Peter Ralston, The Book of Not Knowing </i></center>
    </div>
  </div>
</div>

{% endblock %}

