<!DOCTYPE html>
{% extends 'main/template.html' %}



{% block title %}
    History            
{% endblock %}




{% block content %}
            {% for entry in entries %}
            
                <div class="columns" >
                    <div class="column column is-10 is-offset-1" >
                            <br>
                                <strong>{{ entry.topic }}&nbsp; - &nbsp;{{ entry.date }}</strong>
                                <br> {{ entry.text }}
                    </div>
                </div>
            
            {% endfor %}
        
{% endblock %}

