<!DOCTYPE html>
{% extends 'main/template.html' %}

{% block text %}

    <div class="columns ">
        
        
        
            <div class="column">
             <section class="section">
    
                <form method="POST" style= "height:262px;">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control" >
                            {{ form.text }}
                        </div>
                    </div>
	                {% if user.is_authenticated %}
	                    <div class="field is-grouped is-grouped-right">
	                        <div class="control">
	                            <button class="button is-black">Save</button>
	                        </div>
	                    </div>
	                {% else %}
                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button class="button" title="Disabled" disabled>Log in to save</button>
                            </div>
                        </div>
	                {% endif %}
                </form>
             </section>
            </div>
    

        {% block content2 %}
        {% endblock %}
        
    </div>
    {% block comment %}
    {% endblock %}

    
{% endblock %}


