<!DOCTYPE html>
{% extends 'main/template.html' %}

{% block text %}

    <div class="columns ">
        
        
        
            <div class="column">
             <section class="section">
    
                <form method="POST" >
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            {{ form.text }}
                        </div>
                    </div>
        
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <button class="button is-link">Save</button>
                        </div>
                    </div>
                </form>
             </section>
            </div>
    

        {% block content2 %}
        {% endblock %}
        
    </div>


    
{% endblock %}


