<!DOCTYPE html>
{% extends 'main/template.html' %}

{% block text %}

    <div class="columns ">
        
        
        
            <div class="column">
             <section class="section">
    
                <form method="POST" style= "height:262px;">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control" >
                            {{ form.text }}
                        </div>
                    </div>
        
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <button class="button is-black">Save</button>
                        </div>
                    </div>
                </form>
                <div>
                    {% for message in messages %}
                        <strong style="color: red;"> {{message}} </strong>
                    {% endfor %}
                </div>
             </section>
            </div>
    

        {% block content2 %}
        {% endblock %}
        
    </div>
    {% block comment %}
    {% endblock %}

    
{% endblock %}


