<!DOCTYPE html>
{% extends 'entries/template2.html' %}

{% block content %}
<br>
<section class="hero is-black">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        About
      </h1>
      <h2 class="subtitle">
        Contemplation is the art of holding a question or a thought with an attitude of
        investigation, curiosity and openness.
      </h2>
    </div>
  </div>
</section>

{% endblock %}

{% block content2 %}
    <div class="column is-one-quarter " >

        <br>


    </div>
{% endblock %}