<!DOCTYPE html>
{% extends 'entries/template2.html' %}

{% block title %}
    {{ object.text }}
{% endblock %}

{% block subtitle %}
    {% block content_s %} 
    {% endblock %}
{% endblock %}

{% block content2 %}
    <div class="column is-one-quarter " >
        <aside class="menu ">
            <ul class="menu-list " >
               {% for item in object.topic_item_set.all %}
                        <li><a href="./{{item.id}}" >{{ item.more }}</a></li>
                        <br>
               {% endfor %}
            </ul>
        </aside>
    </div>
{% endblock %}